<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
<mat-toolbar class="footer ">
  <span>
    Desenvolvido

    por <i class="material-icons red v-middle" appRed>
      <span class="material-symbols-outlined">
        mood
      </span>
    </i><strong>Jeferson<span class="red">Labout</span> <i class="material-icons red v-middle" appRed>
        <span class="material-symbols-outlined">
          mood
        </span>
      </i>&copy;2022</strong>
  </span>
</mat-toolbar>